In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
#importnig train data
df = pd.read_csv('SalaryData_Train(1).csv')
df.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
## Label encoding  train data

for i in df.columns:
    df[i] = LabelEncoder().fit_transform(df[i])

In [4]:
# dividing data into X and Y
x_train = df.iloc[:,1:-1]
y_train = df.iloc[:,-1]

In [5]:
#importing test data
df_test = pd.read_csv('SalaryData_Test(1).csv')
df_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [6]:
# Label encoding test data
for i in df_test.columns:
    df_test[i]= LabelEncoder().fit_transform(df_test[i])

In [7]:
# dividing test data into X and Y
x_test = df_test.iloc[:,1:-1]
y_test = df_test.iloc[:,-1]

In [8]:
#Normalizing data

def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)
x_train = norm_func(x_train)
x_test =  norm_func(x_test)
y_train = norm_func(y_train)
y_test =  norm_func(y_test)

In [9]:
x_train.head()

,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,0.833333,0.600000,0.800000,0.666667,0.000000,0.2,1.0,1.0,0.205128,0.0,0.419355,0.948718
1,0.666667,0.600000,0.800000,0.333333,0.230769,0.0,1.0,1.0,0.000000,0.0,0.129032,0.948718
2,0.333333,0.733333,0.533333,0.000000,0.384615,0.2,1.0,1.0,0.000000,0.0,0.419355,0.948718
3,0.333333,0.066667,0.400000,0.333333,0.384615,0.0,0.5,1.0,0.000000,0.0,0.419355,0.948718
4,0.333333,0.600000,0.800000,0.333333,0.692308,1.0,0.5,0.0,0.000000,0.0,0.419355,0.102564

## Grid Search CV

#### fitting gridsearch model to find out optimum values for SVM

In [10]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,0.5],'C':[10,1,0.001]}]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(x_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [10, 1, 0.001], 'gamma': [50, 5, 0.5],
                          'kernel': ['rbf']}])

In [11]:
gsv.best_params_ , gsv.best_score_

({'C': 1, 'gamma': 5, 'kernel': 'rbf'}, 0.8443355578336377)

### Fitting the SVM model now with grid search results for best model

In [14]:
clf = SVC(C = 1, gamma = 5,kernel = 'rbf')
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
acc = accuracy_score(y_test,y_pred)*100
print("Accuracy = ", acc)
confusion_matrix(y_test,y_pred)

Accuracy =  84.39575033200532

array([[10678,   682],
       [ 1668,  2032]])